* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  align-content: space-around;
  background-color: #202430;
  color: #ffffff;
  display: grid;
  font-family: monospace;
  justify-items: center;
  padding: 8px;
}

#display {
  background-color: #ffffff;
  background-image: url("../img/background-tile.png");

  position: relative;
  width: 900px;
  height: 675px;
}

.menu-btn {
  position: relative;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5f4b3a;
  border: 10px solid #202430;
  color: white;
  padding: 15px 32px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  height: 80px;
  width: 410px;
  font-size: 26px;
}

.hover-btn:hover {
  background-color: #202430;
  border: 10px solid #5f4b3a;
}

.games-btn {
  position: relative;
  top: 80px;
  left: 50px;
  background-color: #5f4b3a;
  border: 10px solid #202430;
  color: white;
  padding: 45px 32px;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 150px;
  width: 380px;
  font-size: 26px;
}

#games-back-btn {
  padding-top: 25px;
  top: 100px;
  height: 100px;
  width: 780px;
}

#sumbit-btn {
  background-color: #5f4b3a;
}

.settings-btn {
  position: relative;
  top: 50px;
  left: 50px;
  background-color: #5f4b3a;
  border: 10px solid #202430;
  color: white;
  padding: 35px 32px;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 150px;
  width: 380px;
  font-size: 26px;
}

.settings-update-btn {
  background-color: #5f4b3a;
  border: 10px solid #202430;
  color: white;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 70px;
  width: 260px;
  font-size: 20px;
}
